/* ///////////////////////// Мобильные устройства ///////////////////////// */
@media screen and (max-width: 414px) and (orientation: portrait) {
  body {
    font-size: 14px;
  }

  .main-flexbox {
    height: 45vh;
    margin-top: 15px;
  }

  .ticker-wrapper,
  .ticker-wrapper2 {
    height: 45px;
  }

  .ticker-text span,
  .ticker-text2 span {
    font-size: clamp(20px, 12vw, 32px);
  }

  .main-layout-row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    min-height: 90vh;
  }

  .left-box-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .interactive-circle {
    width: clamp(60px, 25vw, 90px);
    height: clamp(60px, 25vw, 90px);
  }

  .snowflake {
    width: 70%;
    height: 70%;
  }

  .ball {
    width: clamp(16px, 8vw, 24px);
    height: clamp(16px, 8vw, 24px);
  }

  .dots-grid {
    grid-template-columns: repeat(8, auto);
    gap: 4vw;
  }

  .word {
    font-size: clamp(20px, 12vw, 36px);
    padding: 12px 24px;
  }

  .split-section,
  .split-section2 {
    flex-direction: column;
    height: clamp(120vh, 200vw, 240vh);
  }

  .box-left,
  .box-left1,
  .box-right {
    width: 100%;
    height: 50%;
  }

  .orbit-box {
    width: clamp(250px, 70vw, 350px);
    height: clamp(250px, 70vw, 350px);
    right: -15%;
  }

  .agency-split {
    flex-direction: column;
    height: clamp(80vh, 140vw, 160vh);
  }

  .text-line-mask {
    height: clamp(8vh, 12vh, 14vh);
  }

  .anim-text {
    font-size: clamp(20px, 10vw, 32px);
  }
}

@media screen and (max-width: 414px) and (orientation: landscape) {
  .main-flexbox {
    height: 60vh;
    margin-top: 10px;
  }

  .main-layout-row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 70vh;
  }

  .left-box-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .split-section,
  .split-section2 {
    flex-direction: row;
    height: 80vh;
  }

  .box-left,
  .box-left1,
  .box-right {
    width: 50%;
    height: 100%;
  }

  .agency-split {
    flex-direction: row;
    height: 50vh;
  }
}

/* ///////////////////////// Планшеты ///////////////////////// */
@media screen and (min-width: 415px) and (max-width: 768px) and (orientation: portrait) {
  .main-flexbox {
    height: 55vh;
  }

  .main-layout-row {
    grid-template-columns: 1fr 1fr;
    height: clamp(50vh, 70vw, 55vh);
  }

  .ball-ticker {
    height: clamp(60px, 12vw, 80px);
  }

  .dots-grid {
    grid-template-columns: repeat(15, auto);
    gap: 2vw;
  }

  .split-section,
  .split-section2 {
    flex-direction: column;
    height: clamp(80vh, 120vw, 140vh);
  }

  .box-left,
  .box-left1,
  .box-right {
    width: 100%;
    height: 50%;
  }

  .orbit-box {
    right: -20%;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) and (orientation: landscape) {
  .main-flexbox {
    height: 65vh;
  }

  .main-layout-row {
    height: 60vh;
  }

  .split-section,
  .split-section2 {
    flex-direction: row;
    height: 70vh;
  }

  .box-left,
  .box-left1,
  .box-right {
    width: 50%;
    height: 100%;
  }
}

/* ///////////////////////// Маленькие экраны ///////////////////////// */
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .main-layout-row {
    height: 55vh;
  }

  .dots-grid {
    grid-template-columns: repeat(20, auto);
  }

  .orbit-box {
    width: clamp(400px, 50vw, 500px);
    height: clamp(400px, 50vw, 500px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .main-flexbox {
    height: 60vh;
  }

  .main-layout-row {
    height: 50vh;
  }
}

/* ///////////////////////// Средние экраны ///////////////////////// */
@media screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: portrait) {
  .main-flexbox {
    height: 60vh;
    margin-top: 30px;
  }

  .main-layout-row {
    height: 55vh;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
  .main-flexbox {
    height: 65vh;
  }

  .orbit-box {
    width: 600px;
    height: 600px;
    right: -300px;
  }
}

/* ///////////////////////// Большие экраны ///////////////////////// */
@media screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: portrait) {
  .main-flexbox {
    height: 65vh;
    margin-top: 40px;
  }

  .main-layout-row {
    height: 58vh;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  .orbit-box {
    width: 700px;
    height: 700px;
    right: -350px;
  }
}

/* ///////////////////////// Очень большие экраны ///////////////////////// */
@media screen and (min-width: 1921px) and (orientation: portrait) {
  .main-flexbox {
    height: 70vh;
    margin-top: 50px;
  }

  .main-layout-row {
    height: 60vh;
  }
}

@media screen and (min-width: 1921px) and (orientation: landscape) {
  .main-flexbox {
    height: 70vh;
  }

  .main-layout-row {
    height: 60vh;
  }

  .orbit-box {
    width: 800px;
    height: 800px;
    right: -400px;
  }

  .dots-grid {
    grid-template-columns: repeat(25, auto);
    column-gap: 1.8vw;
  }
}

/* ///////////////////////// Ультра-HD экраны (4K и выше) ///////////////////////// */
@media screen and (min-width: 2561px) {
  .main-flexbox {
    height: 75vh;
    margin-top: 60px;
  }

  .main-layout-row {
    height: 65vh;
  }

  .orbit-box {
    width: 1000px;
    height: 1000px;
    right: -500px;
  }

  .dots-grid {
    grid-template-columns: repeat(30, auto);
    column-gap: 1.2vw;
  }
}
